#PRI4001 {
    top: 20px;
    left: 375px;
}

#PRI4024 {
    top: 20px;
    left: 900px;
}

#PRI4023 {
    top: 196px;
    left: 372px;
}

#PRI4002 {
    top: 20px;
    left: 460px;
}

#PRI4013 {
    top: 104px;
    left: 460px;
}

#PRI4003 {
    top: 20px;
    left: 550px;
}

#PRI4014 {
    top: 104px;
    left: 550px;
}

#PRI4004 {
    top: 20px;
    left: 635px;
}

#PRI4015 {
    top: 104px;
    left: 635px;
}

#PRI4012 {
    top: 104px;
    left: 375px;
}

#PRI4036 {
    top: 20px;
    left: 725px;
}

#PRI4025 {
    top: 197px;
    left: 725px;
}

#PRI4033 {
    top: 104px;
    left: 985px;
}

#PRI4028 {
    top: 20px;
    left: 985px;
}

#PRI4029 {
    top: 104px;
    left: 900px;
}

#PRI4030 {
    top: 104px;
    left: 810px;
}

#CSE2013 {
    top: 285px;
    left: 635px;
}

#CSE2025 {
    top: 18px;
    left: 107px
}

#CSE2028 {
    top: 104px;
    left: 107px
}

#CSE2026 {
    top: 104px;
    left: 725px
}

#CSE2018 {
    top: 200px;
    left: 900px
}

#CSE4074 {
    top: 374px;
    left: 10px
}

#DES_3_1 {
    top: 368px;
    left: 984px
}

#DES_3_2 {
    top: 458px;
    left: 984px
}

#DES_3_3 {
    top: 545px;
    left: 984px
}

#CSE4066 {
    top: 548px;
    left: 10px
}

#CSE4067 {
    top: 638px;
    left: 10px
}

#CSE2014 {
    top: 18px;
    left: 196px;
}

#CSE2022 {
    top: 108px;
    left: 196px;
}

#CSE2027 {
    top: 196px;
    left: 106px;
}

#CSE2017 {
    top: 196px;
    left: 196px;
}

#CSE2015 {
    top: 286px;
    left: 106px;
}

#CSE2024 {
    top: 286px;
    left: 196px;
}

#CSE4029 {
    top: 286px;
    left: 286px;
}

#CSE4073 {
    top: 370px;
    left: 196px;
}

#CSE4060 {
    top: 370px;
    left: 283px;
}

#CSE4082 {
    top: 370px;
    left: 373px;
}

#CSE4037 {
    top: 370px;
    left: 463px;
}

#CSE4031 {
    top: 370px;
    left: 547px;
}

#CSE4033 {
    top: 372px;
    left: 637px;
}

#CSE4083 {
    top: 372px;
    left: 724px;
}

#CSE4086 {
    top: 462px;
    left: 194px;
}

#CSE4058 {
    top: 462px;
    left: 104px;
}

#CSE4038 {
    top: 462px;
    left: 284px;
}

#CSE4041 {
    top: 462px;
    left: 374px;
}

#CSE4034 {
    top: 462px;
    left: 904px;
}

#CSE4035 {
    top: 462px;
    left: 550px;
}

#CSE4070 {
    top: 462px;
    left: 635px;
}

#CSE4036 {
    top: 462px;
    left: 725px;
}

#CSE4061 {
    top: 550px;
    left: 284px;
}

#CSE4051 {
    top: 550px;
    left: 194px;
}

#CSE4044 {
    top: 550px;
    left: 374px;
}

#CSE4043 {
    top: 550px;
    left: 460px;
}

#CSE4085 {
    top: 550px;
    left: 725px;
}

#CSE4053 {
    top: 636px;
    left: 194px;
}

#CSE4081 {
    top: 636px;
    left: 284px;
}

#CSE4075 {
    top: 636px;
    left: 374px;
}

#CSE4076 {
    top: 636px;
    left: 464px;
}

#CSE8000 {
    top: 550px;
    left: 548px;
}

#CSE9000 {
    top: 550px;
    left: 810px;
}

#CSE9001 {
    top: 545px;
    left: 900px;
}

#CSE9002 {
    top: 550px;
    left: 637px;
}

#CSE9003 {
    top: 635px;
    left: 547px;
}

#CSE9004 {
    top: 635px;
    left: 637px;
}

#CSE9006 {
    top: 635px;
    left: 814px;
}

#CSE9007 {
    top: 635px;
    left: 900px;
}

#CSE9005 {
    top: 635px;
    left: 720px;
}





