:root {
    --e1: #02146d;
    --e2: #3953d3;
    --e3: #e7e7e7;

    --m1: #2b045d;
    --m2: #6055da;
    --m3: #eaeaea;
}

.chart-border tbody {
    display: table;
    width: 100%;
}

.nav_logo {
    width: 40px;
    cursor: pointer;
}

.nav_user {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.nav_btn {
    background-color: none;
    color:#f5f5f7;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
}

.nav_btn:hover  {
    color: #ff8b07;
    transition: all 0.2s linear;
    text-decoration-line: none;
}

/* 로그인 */

.login-logo {
    width: 80px;
    margin: 0 auto;
}

.login-title {
    font-size: 45px;
    text-align: center;
    color:rgb(255, 255, 255);
}

.inquire-title {
    width: 100%;
    font-size: 55px;
    font-weight: 700;
    text-align: center;
    color:rgb(58, 57, 57);
    margin-top: 100px;
}

.inquire-subtitle {
    width: 100%;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    color:rgb(58, 57, 57);
    margin-top: 10px;
    margin-bottom: 10px;
}

.login-font {
    margin-top: 10px;
    font-size: 20px;
    text-align: left;
    color:rgb(255, 255, 255);
}

.login-field {
    width:98%;
    border-radius: 5px;
    height: 25px;
}

.login-field:focus {
    border: 2px solid rgb(255, 89, 33);
    transition: all 0.2s linear;
    outline: 0;
}

.sign_btn {
    margin: 0;
    display: flex;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 35px !important;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(255, 89, 33);
    color: white;
    cursor: pointer;
    border-color: rgb(255, 77, 18);
    border-style: outset;
}

.sign_btn:hover {
    transition: all 0.2s linear;
    background-color:  rgba(255, 88, 33, 0.907);
}

.signup #signup.sign_btn {
    font-size: 1.3rem;
    height: 3rem !important;
    background-color: #470cd2;
    border-color: #5804de;
    margin: 1.5rem auto 2rem;
}

.signup #signup.sign_btn:hover {
    transition: all 0.2s linear;
    background-color: #1f0178;
}

/* 회원가입 */
.signup-title {
    font-size: 5rem;
    text-align: center;
    color: #D9DAFA;
}

.signup-subtitle {
    font-size: 1.5rem;
    text-align: center;
    color:rgb(255, 255, 255);
}

.signup form{
    width: 100%;
}

.signup-font {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 1.2rem;
    text-align: left;
    color:#e1dbea;
}

.signup-field {
    width:100%;
    height: 3rem;
    outline: none;
    margin-bottom: 10px;
    border: solid 1px rgb(144, 144, 144);
    border-radius: 5px;
}

.signup-field:focus {
    border: 4px solid #6310f3;
    transition: all 0.2s linear;
}

#semester.signup-field{
    padding: 5px;
}

#pwdVerify, #pwdSameVerify {
    font-size: 15px;
    font-weight: 700;
    color: red;
    background-color: rgb(255, 210, 210);
    border-radius: 3px;
}

#userMajor {
    margin-right: 5px;
}

#progress-state {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 10px;
}

#rate-icon {
    margin-right: 5px;
}

#creditInfo, #gradeInfo{
    width: 45%;
}

#electiveRate, #majorRate {
    width: 45%;
}

.title-box {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 600;
}

.title-box .title {
    margin-left: 15px;
}

.user-info-table {
    width: 100%;
    height: 120px;
    border: solid 1px rgb(207, 205, 205);
    margin-top: 10px;
    font: 1.5rem;
    font-weight: 600;
}

#presentGrade {
    font-size: 3rem;
    font-weight: 700;
    color: rgb(79, 30, 227);
    padding-right: 20px;
}

#totalGradeBox {
    font-size: 4rem;
    font-weight: 700;
    color: rgb(0, 0, 0);
    padding-right: 20px;
}

#totalGrade_Big {
    color: rgb(79, 30, 227);
}

#majorfullCredit, #fullCredit, #majorfullGrade, #fullGrade {
    padding-right: 25px;
}

#majorCredit, #totalCredit{
    color: rgb(31, 197, 109);
}

#majorGrade, #totalGrade {
    color: rgb(19, 67, 226);
}


.color-box {
    margin-left: 5px;
    margin-right: 5px;
    height: 15px;
}

#reqElective.color-box {
    background-color: var(--e1);
}

#selElective.color-box {
    background-color: var(--e2);
}

#leftElective.color-box {
    background-color: var(--e3);
}


#reqMajor {
    background-color: var(--m1);
}

#selMajor {
    background-color: var(--m2);
}

#leftMajor {
    background-color: var(--m3);
}

.pie-chart {
    display:inline-block;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: solid 2px rgb(0, 0, 0);
}

#electiveRate .pie-chart {
    background: conic-gradient(var(--e1) 0% 25%, var(--e2) 25% 56%, var(--e3) 56% 100%);
}

#majorRate .pie-chart {
    background: conic-gradient(var(--m1) 0% 25%, var(--m2) 25% 56%, var(--m3) 56% 100%);
}

.chart-border {
    display:inline-block;
    width: 100%;
    padding: 20px;
    margin-top: 10px;
    border: solid 1px rgb(207, 205, 205);
}

.color-inf {
    font-size: 2rem;
    padding-left: 50px;
}

/* 로드맵 */
.course-unit {
    position: absolute;
    width: 75px;
    height: 48px;
    border-radius: 10px;
    background-color: white;
    color: #e7e7e7;
}

.unit-name {
    display: flex;
    width: 70%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    margin: auto;
}

.course-unit.complete {
    background-color: #02146d;
}

.course-unit.ongoing {
    background-color: #690caf;
}

.course-unit.available {
    background-color: #b487fc;
}

.course-unit.impossible {
    background-color: #848484;
}

.inquire-form {
    width: 30%;
    margin: auto;
}

.inquire-font {
    font-size: 20px;
    margin-bottom: 10px;
}

.inquire-field {
    width: 99%;
    height: 40px;
    margin-bottom: 15px;
}

select.inquire-field {
    width: 100%;
    height: 45px;
}

.inquire_btn {
    width: 100%;
    height: 50px;
    font-size: 30px;
    color: white;
    background-color: #3072e3;
    margin-top: 10px;
    border-radius: 10px;
}

.course-result-title {
    font-size: 35px;
    font-weight: 700;
    width: 90%;
    text-align: center;
    margin: auto;
    margin-top: 0;
    margin-bottom: 5px;
    color: white;
    border-radius: 10px;
}

.course-result {
    font-size: 40px;
    text-align: center;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 30px;
}

.center-dot {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid rgb(0, 0, 0);
    margin:75px;
    background-color: rgb(255, 255, 255);
}

.s1 {
    background-color: #3072e3;
}

.s2 {
    background-color: #2862c5;
}

.s3 {
    background-color: #204e9d;
}

.s4 {
    background-color: #153468;
}

.s5 {
    background-color: #122e5d;
}

.c-delete {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
    border-radius: 2px;
    cursor: pointer;
}

.c-delete:hover {
    background-color: #a6190a;
    transition: all 0.2s ease;
}

.add-course {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    background-color: #0171e3;
    color: white;
    width: 200px;
    height: 55px;
    border-radius: 30px;
    margin: 0 auto;
    font-size: 25px;
}

.add-course:hover {
    background-color: #0d60b3;
    transition: all 0.2s linear;
}

.add-semester {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    background-color: rgb(37, 37, 37);
    color: white;
    width: 200px;
    height: 55px;
    border-radius: 30px;
    margin: 10px auto;
    font-size: 25px;   
}

.add-semester:hover {
    background-color: rgb(0, 0, 0);
    transition: all 0.2s linear;
}

.title-select-font {
    margin: 20px 0px 15px 0px;
    font-size: 25px;
    font-weight: 700;
    color: #1d1d1f;
}